
        body {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #d9dbdd; 
        }

        header {
            
            color: #030303; 
            text-align: center;
            padding: 40px 0; 
            font-size: 3.4em; 
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
            border-bottom: 5px solid #007BFF; 
            background-image: url(../imagenes/fondo.jpg);
            justify-content: space-evenly;
            display: flex;
            align-items: center;
        }

        form {
            margin: 20px;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        select {
            padding: 10px;
            font-size: 1em;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #495057;
            color: #ffffff;
        }

        a {
            display: inline-block;
            margin-top: 20px;
            padding: 10px 20px;
            background-color: #007BFF;
            color: #ffffff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        a:hover {
            background-color: #0056b3;
        }
        h3{
            font-family: 'Luminari';
        }
    