body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d9dbdd; 
}

header {
    
    color: #030303; 
    text-align: center;
    padding: 40px 0; 
    font-size: 3.4em; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    border-bottom: 5px solid #007BFF; 
    background-image: url(../imagenes/fondo.jpg);
    justify-content: space-evenly;
    display:flex ;
    align-items: center;
}

.header-container{
    display: grid;
    grid-template-columns: auto auto auto;

}
#escudo {
    height: 20rem;
    width: 20rem;
}

#Enlaces {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 50px 0; 
}

.enlace-item {
    position: relative; 
    margin: 20px; 
    width: 300px; 
    height: 200px; 
}

.enlace-item a {
    position: relative; 
    z-index: 1; 
    text-decoration: none; 
    color: #ffffff; 
    background-color: rgba(0, 123, 255, 0.7); 
    padding: 15px 30px; 
    border-radius: 25px; 
    font-weight: bold; 
    font-size: 1.1em; 
    transition: background-color 0.3s, color 0.3s; 
}

.enlace-item img {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    z-index: 0;  
    opacity: 0.5; 
}

.enlace-item:hover img {
    opacity: 0.7; 
}

.enlace-item:hover a {
    background-color: rgba(0, 123, 255, 1);
    color: #ffffff;
}
h3{
    font-family: 'Luminari';
}